<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380353242136-aa3o88rj2ap5tav7bk51vf8cebl6l301.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380353242136-aa3o88rj2ap5tav7bk51vf8cebl6l301</string>
	<key>API_KEY</key>
	<string>AIzaSyBGZ4m1zeOBN1Xq04pAH0pqNmza15GK0ow</string>
	<key>GCM_SENDER_ID</key>
	<string>380353242136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.egaradefinitiu</string>
	<key>PROJECT_ID</key>
	<string>egara4-a468c</string>
	<key>STORAGE_BUCKET</key>
	<string>egara4-a468c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380353242136:ios:2c2d781054eb5785b20f6d</string>
	<key>DATABASE_URL</key>
	<string>https://egara4-a468c.firebaseio.com</string>
</dict>
</plist>